*{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

body{
    background: linear-gradient(180deg, #2A4AC8 0%, rgba(140, 69, 187, 0.3) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header#header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-between;
    height: 70px;
    position: fixed;
    background: linear-gradient(180deg, #000000 0%, #7200BE 100%);
    width: calc(100vw);
    color: #fff;
    z-index: 1;
}
img.img_logo{
    width: 90px;
    height: 74px;
    border-radius: 24px;
}

menu{
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    width: 100%;
}
ul.ul_links{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
    font-family: 'Stint Ultra Condensed', cursive;
}
li a{
    text-decoration: none;
    color: #ffffff;
}
article{
    padding-top: 100px;
   height: 60%;
   display: flex;
   flex-direction: column;
}

div.texto_principal{
    text-align: center;
    height: 200px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

section.section_principal img{
    text-align: center;
    width: 800px;
    height: 260px;
    margin: auto;
}

div.img-principal{
    background-image: url("../images/5f1a221e-23ca-45f3-b30d-0a64041e109d.jpg");
}

h1.h1_principal{
    color: #000000;
    width: 800px;
    font-size: 1.6em;
    margin: auto;
    padding: 10px;
    font-family: 'Stint Ultra Condensed', cursive;
}

h2{
    margin-bottom: 15px;
}
img.img_content{
    width: 500px;
    height: 500px;
}

section.geral_content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin: auto;
}

div.texto_content{
    color: #fff;
    line-height: 25px;
    font-size: 1.1em;
}
main{
    width: 800px;
    margin: auto;
}


.section02{

}
.section03{
    flex-direction: row-reverse;
}

.section05{
    padding-top: 30px;
}
.img02{
    width: 300px;
    height: 200px;
}

div.texto_content_final{
    display: flex;
    color: #fff;
    gap: 90px;
}

p.p_final{
    margin-bottom: 20px;
}

div.aside_container{
    position: fixed;
}

div.aside_content1, .aside_content2, .aside_content3{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 50px;
    height: 35px;
    background: linear-gradient(180deg, rgba(42, 74, 200, 0.7) 43.48%, rgba(140, 69, 187, 0.55) 100%);
    border-radius: 50%;
    padding: 10px;
}
.aside_content1{
    top: 10px;
}
.aside_content2{
    top: 75px;
}
.aside_content3{
    top: 140px;
}

.aside_hover:hover{
    cursor: pointer;
}
aside.aside{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    box-sizing: border-box;
    position: relative;
    width: 80px;
    margin-left: 10px;
    margin-top: 100px;
    height: 210px;
    background: #8179D1;
    border: 1px solid #F5F5F5;
    border-radius: 22px;
}
aside.aside img{
    width: 35px;
}

footer{
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    box-sizing: content-box;
    border: 10px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

footer p{
    color: #ffffff;
    width: 300px;
    font-size: 20px;
}

.logo_site2{
    border-radius: 40px;
    height: 200px;
    width: 250px;
}